body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: rgb(241, 218, 218);
    padding: 15px;
    text-align: center;
}
nav a {
    margin:  15px;
    color: rgb(241, 218, 218);
    text-decoration: none;
}
.container {
    padding: 20px;
}
footer {
    background-color: #333;
    color: rgb(241, 218, 218);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
h2{
    color: #12188a;
}
section a{
    padding-right: 270px;
    padding-left: 90px;
    text-align: center;
    color: rgb(45, 42, 42);
    text-align:center;
}
aside{
    text-align: center;
}
h3{
    color:rgb(78, 0, 57);
}